MG3D/Library/
MG3D/Logs/
MG3D/Packages/
MG3D/ProjectSettings/
MG3D/Temp/
MG3D/UserSettings/
MG3D/obj/
MG3D/.vs/
MG3D/Assets/_TerrainAutoUpgrade/
MG3D/Assets/DigitalKonstrukt/
MG3D/Assets/Walls and floors v.1/
MG3D/Assets/Walls and floors v.1.meta
MG3D/Assets/DigitalKonstrukt.meta
MG3D/Assets/_TerrainAutoUpgrade.meta
MG3D/Assets/Material/
MG3D/Assets/Music.meta
